/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
*/
body{ min-width: 1104px; color: #333; background: url("../images/public/bg.png") repeat-x #fdf5ef;}
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
/* 去除A标签点击虚线框 */
a{outline:none; blr:expression(this.onFocus=this.blur());}
/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "微软雅黑", sans-serif;*/
    font: 12px/1 "\5FAE\8F6F\96C5\9ED1",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol,li{ list-style: none;}

/* 重置文本格式元素 */
a { text-decoration: none;}
input {outline:none; box-sizing: inherit;}

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {  font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */  }

/* 重置表格元素 */
table {  border-collapse: collapse;  border-spacing: 0;  }

/* 重置 hr */
hr {  border: none;  height: 1px;  }
/* 清除浮动 */
.clearfix{zoom:1}
.clearfix:after{  content:".";  display:block;  height:0;  clear:both;  visibility:hidden;  }
.clearFloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearFloat{zoom:1}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll;}
.img-center {text-align: center; vertical-align: middle; display: table-cell;}/*图片居中对其*/

::selection{ background-color: #228282; color: #fff;}
.fl{ float: left;display: inline;}
.fr{ float: right;display: inline;}
.tac{text-align: center;}
.mgcenter{margin: 0 auto !important;}
.ellipsis{ display: block; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.color-gray{color: #838383; }
.color-red{color: #9A0808;}
.color-white{ color: #fff;}
.color-green{ color: #e33c36;}
.color-blue{ color: #288cba;}
.color-red{color: #e33c36;}
.m4{ margin: 0 4px;}
a{ color: #333;}
.hide{ display: none;}
.mt8{ margin-top: 8px;}
.mt15{ margin-top: 15px;}
.mt25{ margin-top: 25px;}
.ml15{ margin-left: 15px;}
.ml10{ margin-left: 10px;}
.mr15{ margin-right: 15px;}
.w220{ width: 220px;}
.w616{ width: 616px; margin: 0 10px;}
.w248{ width: 248px;}
.w870{ width: 870px;}
.of-h{ overflow: hidden;}
.position-a{position: absolute !important;}
.position-r{position: relative;}
.btnMin{ height: 32px; line-height: 32px; width: auto; padding: 0 20px; font-size: 14px; min-width: 50px; margin: 0;}
.bgOrange{ background-color: #E89D49;}
.bgOrange2{ background-color: #D06716;}
.bgWhite{ background-color: #fff;}
.bgBlue{ background-color: #e33c36;}
.bgBrown{ background-color: #674941;}
.bgDarkgreen{ background-color: #155970;}
.bgRed{ background-color: #CD0027;}
.bgredo{ background-color: #e33c36;}
.bgGray{ background-color: #838383;}
/* 头部样式 */
#header{background-color: #fff;}
.top{ height: 38px; background-color:#dedede;}
.top a:hover{ text-decoration: underline;}
.topBar{width: 1104px;  margin: 0 auto; line-height: 38px;}
.topBar-left .title{ font-size: 14px; font-weight: normal; display: inline;}
.topBar-left .slogan{ padding: 0 8px;}
.loginBar { display: inline-block;*zoom: 1; *display: inline; *float: left;}
.nolanding a{ font-size: 14px;}
.user-box,.status{ display:inline-block; position: relative; z-index: 999; *float: left;  *zoom: 1; *display: inline;}
.user-center{ padding: 0 10px; }
.user-center b{ height: 0; width: 0; overflow: hidden; display:inline-block; border-top:8px solid #999999; border-left: 6px solid transparent;border-right: 6px solid transparent;  margin-left: 6px; transition: transform 0.2s ease-in 0s;}
.user-menu{ position: absolute; left: -100px; top: 38px; width: 280px; background-color: #fff; border: 1px solid #E2E2E2; border-top: none; padding: 10px 0; display: none;}
.user-menu li{ width: 50%; float: left; height: 38px; overflow: hidden;}
.user-menu a{ padding: 0 18px; font-size: 14px; color: #363636;}
.user-menu a b{ color: #B60E0E; font-weight: normal;}
.user-box:hover .user-center{background-color: #fff;}
.user-box:hover .user-menu{ display: block;}
.user-box:hover .user-center b{ transform: rotate(180deg);}
.collect { font-size: 14px; margin-left: 26px; margin-right: 8px; display: inline-block; *zoom: 1; *display: inline;}


.head{ width: 1104px; margin: 0 auto; overflow: hidden; clear: both; padding: 44px 0 42px 0;}/**/
.head-left { width: 282px; white-space: nowrap; position: relative;}
.head-left .logohone{height: 62px; display: block; width: 280px; overflow: hidden; text-align: center; margin-top: 8px; }/**/
.head-left a:hover{ text-decoration: none;}
.head-left .logohone h2{  line-height: none; padding-top: 12px; color: #B60A0B;}
.head-left .logohone span{ display: block; font-size: 16px;   text-transform:uppercase; color: #000; line-height: 28px;}
.head-center{ width: 450px; margin: 0 33px; height: 63px; position: relative; }/**/
.search-type{overflow: hidden; position: relative;bottom: -2px; background:url("../images/public/adv-title.png") no-repeat 204px 0;}
.search-type li{float: left;}
.search-type a{padding: 6px 12px 8px; display: block; color: #3B3B3B;}

.search-ipt{ width: 332px; font: 14px/18px arial; border: none; background-color: transparent; margin-top: 8px; margin-left: 6px;outline: none;}
.head-right{ width: 252px; padding-top: 17px;margin-right: 7px; }/**/
.nav{  display:inline-block;  margin: 0 auto; line-height: 50px; width: 1104px; position: relative;}
.nav li{ float: left;}
.nav a{ display: block; padding: 0 37px; font-size: 18px; color: #fff; font-weight:bold;}
.maxi-nav a{ display: block; padding: 0 34px; font-size: 16px; color: #fff; font-weight:bold;}
.mini-nav a{ display: block; padding: 0 30px; font-size: 18px; color: #fff; font-weight:bold;}
.head-left .logopage{ text-align: center; margin-top: -28px; width: 175px;}
.head-left .logopage img{ width: 175px; display: block; margin:  0 auto;}
.head-left .logopage h2{font-size: 15px; color: #b60a0b; text-align: center;}
.head-left .logopage span{ display: block;text-align: center;}
.column-name .name-en{text-transform: uppercase; color: #919191; line-height: 23px;white-space: nowrap; }
.fhptsy{ position: absolute;  right: 0; top: 0; }
.fhptsy a{font-size: 14px;padding: 0;}
.fhptsy a:hover{ background-color: initial; text-decoration: underline;}
.nav-box .icon{top:-10px; left:50px; background: url("../images/index/new-icon.png") no-repeat center; display: inline-block; width: 40px; height: 24px;}
/* 尾部样式 */
#footer{ margin-top: 30px; overflow: hidden;}
.navigation{ width: 1104px; margin: 0 auto; overflow: hidden;}
.contact-us{ width: 236px;}
.contact-title{ font-size: 16px;text-transform: uppercase; padding-bottom: 8px;}
.contact-title .color-green{ font-size: 16px; text-shadow: 0 0 1px #7EAEAE;}
.contact-title .color-gray{ font-size: 12px; margin-left: 10px;}
.contact-txt{ overflow: hidden; color: #7B7B7B; font-size: 14px; padding-top: 6px;line-height: 24px;}
.contact-txt span{ white-space:nowrap;}
.contact-txt p{ width: 170px;}
.quick-nav{ width: 545px; }
.quick-nav dl{ width: 120px; float: left; margin-right: 60px; font-size: 14px; }
.quick-nav dt{ color: #333333; padding-bottom: 16px;line-height: 24px; }
.quick-nav a{ line-height: 20px; display:inline-block; padding-top:8px; color: #999999;}
.quick-nav dt a{color: #333; text-decoration: none; padding-top: 0;}
.qec dt{color: #333333; padding-bottom: 16px;line-height: 24px; font-size: 14px;}
.qec dd{ line-height: 340%; color: #333333;}
.follow-us{ width: 255px;}
.follow-us-left{ width: 150px;}
.follow-us-title{ font-size: 16px;text-shadow: 0 0 1px #e33c36;}
.follow-us-title span{ display: block; font-size: 12px; text-shadow: none; line-height: 22px; color: #AFAFAF;}
.follow-us-icon,.follow-us-icon a{ height: 37px; overflow: hidden; }
.follow-us-icon{ margin-top: 8px;}
.follow-us-icon a{display:inline-block; *zoom: 1; *display: inline; margin-right: 4px;}
.icon-qq{ width: 38px; background: url(../images/public/follow-us-icon.png) no-repeat left top;}
.icon-wx{ width: 44px; background: url(../images/public/follow-us-icon.png) no-repeat -46px top;}
.icon-sina{ width: 44px; background: url(../images/public/follow-us-icon.png) no-repeat -96px top;}
.follow-us-tel{ margin-top: 10px;}
.bticon img{ margin: 12px 6px 0;}
#main{ width: 1104px; margin: 0 auto; }
/*分页*/
.pagination{ text-align: center; padding: 20px 0; clear: both;}
.pagination a{ padding: 2px 4px; border: 1px  solid #DEDEDE; margin: 0 2px;}
.pagination .home{ margin-right: 8px;}
.pagination .Lastpage{ margin-left: 8px;}
.pagination #page-Jump{ margin: 0 15px;}
#page-Jump input{ padding: 4px 2px; width: 30px; height: 12px; *position: relative; *bottom: -2px;border: 1px  solid #DEDEDE;}
.pagination .pagination-btn{ background-color: #DF9247; color: #FFF; padding: 2px 6px; cursor: pointer;}
.Page-number span{padding: 2px 4px; border: 1px  solid #DEDEDE; margin: 0 2px;}

/*弹出层*/
.showDialog{ position: fixed; z-index: 999; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/public/huise.png) left top; display: none;}
.showDialogBox{ position: absolute; left: 50%; top: 50%;}
.showDialogMain{ position: relative; left: -50%; top: -50%; height:100%;}
.sdTitle .title{ padding: 0 30px; float: left;}
.sdTitle .close{ float: right;padding: 0 15px; cursor: pointer;}
.sdMain{ background-color: #fff; padding: 10px 30px;   max-height:80%; overflow-y:auto; *max-height: none;*overflow-y: initial;}
.sdFooter{ height: 31px; background-color: #F0F0F0; padding: 16px 0; text-align: center; *width:100%; *position:absolute;}
.sdFooter .sd-btn{ display: inline-block;  padding: 10px 25px;cursor: pointer; font-size: 14px; color: #fff; margin: 0 8px; *zoom: 1; *display: inline;}
.sdFooter .sd-btn:hover{ background-color: #ce2613;}
.prompt-showdialog{ line-height: 150%;}

.prompt-showdialog{ line-height: 150%; min-height: 208px; min-width: 490px; max-width: 800px; font-size:14px ;}
.prompt-showdialog .sdMain{ padding: 30px;}
.prompt-showdialog .showDialogMain{background: url(../images/public/loading.gif) no-repeat center; min-height: 32px;}

/*表格*/
.input{ border: 1px solid #DEDEDE; height: 16px; font-size: 12px;  line-height: 16px; padding:7px 3px; width: 200px; }
.jbzl{ overflow: hidden; margin: 15px 0;}
.jbzl table{ width: 95%; margin: 0 auto;}
.jbzl td{ padding: 10px 2px; line-height: 30px; font-size: 14px;}
.jbzl .tlname{ font-size: 14px; position: relative; padding-left: 15px;white-space: nowrap;}
.jbzl .tlname em{ position: absolute; left: 0; top: -3px;}
.jbzl td em{ color: #C63F40; font-size: 16px;  margin-right: 5px;}
.jbzl .alt{ font-size: 12px; color: #999;}
.jbzl td span{ font-size: 12px;}
.jbzl td h3{ font-weight: normal;}
.jbzl .input-box{ display: inline-block; *zoom: 1; *display: inline; position: relative; padding-bottom: 15px;}
.jbzl .input-box .ipt-error{ position: absolute; left: 0; bottom: -15px; font-size: 12px; color: red; white-space: nowrap;}
.jbzl .input-box .ipt-error.wzRight{ left: 100%; top: 0; bottom: auto;}
.jbzl .input{  border: 1px solid #DEDEDE; height: 16px; font-size: 12px;  line-height: 16px; padding:7px 3px; width: 200px; margin-right: 15px;}
.jbzl .iptdx{ display: inline-block; padding: 0 4px; *zoom: 1; *display: inline;}
.jbzl textarea{ width: 400px; height: 200px; padding:8px 4px;}
.jbzl .pb0{ padding-bottom: 0;}
.jbzl select { height: 30px; line-height: 30px;  margin-right: 8px;}

/*font-size*/
.ft14{ font-size: 14px;}
.ft18{ font-size: 18px;}
.ft24{ font-size: 24px;}
.ft12{font-size: 12px;}
.ftw{font-weight: 500;}

.backstage-main{ overflow: hidden; margin-top: 10px;}
.backstage-main .left{ width: 182px; float: left;}
.left-nav{ border:1px solid #DEDEDE;}
.ln-top span{ display: inline-block; font-size: 16px; color: #fff; }
.ln-main ul{ overflow: hidden; padding: 6px 0;}
.ln-main li{ height: 40px; line-height: 40px; position: relative;}
.ln-main li em{ position: absolute; right: 8px; top: 11px; display: inline; line-height: 20px; color: #fff; padding: 0 2px; background-color: #BD0001;}

.backstage-main .right{ width: 900px; float: right;}
.rtt{ height: 34px; line-height: 34px; background-color: #F3F3F3; margin: 10px 0;}
.rtt-name{ display: inline-block; height: 34px; padding: 0 25px; min-width: 330px; *zoom: 1; *display: inline;}
.rtt-name span{ font-size: 18px; color: #fff; margin-right: 15px;}
.rtt-name em{ font-size: 12px; text-transform: uppercase;}
.p18{ padding: 18px;}
.rmm{ overflow: hidden;}
.news-list li{ height: 25px; line-height: 25px; padding-left: 24px; margin-right: 10px;  text-overflow: ellipsis;  white-space: nowrap; background: url(../images/index/dian.png) no-repeat 10px center;}
.news-list li a{ display:inline-block; width: 100%; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; padding-bottom: 1px;}
/* 友情链接 */
.outsite-links{ width:1104px;  margin:10px auto 0;  list-style:none;  font-size:14px;  }

.outsite-links a{  font-size: 12px;  display: inline-block;  margin: 8px;  }
.special-topic a{ width: 31%;}
.important .head-center{margin-left: 55px;}

/*解决搜索框的文本提示bug*/
.search-input-con{top:7px; left:8px;  color: #999; font: 12px/18px arial;}

/*左侧列表导航*/
.pointer{cursor: pointer;}
.pointer .display{display: none;}
.index-classify{position: absolute; top:50px; background: #fff; left:0; z-index: 999; }
.index-classify ul li{height:33px; width: 208px; line-height: 35px; background: url("../images/index/list-icon.png") no-repeat 200px 12px; color: #333333; padding-left: 10px; font-size: 14px;
    border-top:1px solid #fff; border-bottom: 1px solid #fff; position: relative; cursor: default;}
.index-classify ul{border-left:1px solid #ce2613 !important; border-right:1px solid #ce2613 !important; width: 218px; height: 420px;}
.index-classify ul li a{  text-decoration: none;  font-size: 14px;  font-weight: 500;  color: #333;  padding: 0 !important;  }
.index-classify ul li a:hover{background:none; color: #ce2613;}
.index-classify .border-top{border-top: 1px solid #ce2613!important;}
.index-classify .border-bottom{border-bottom: 1px solid #ce2613!important; background-color: #F3D5D4;}
.index-classify .hover{border-top:1px solid #ce2613!important; border-bottom: 1px solid #ce2613!important;background:#fff; width: 209px;}
.index-classify .hover .spread-bx{display: block !important;}
.spread-bx{width:520px;border:1px solid #ce2613; border-left: none; position: absolute; left:219px; z-index: 99999; background:white;  display: none;}
.contents dl dd{padding-right:18px; font-size: 14px; float: left; min-width: 30px; white-space:nowrap;}
.bor-bot{ border-bottom: 1px dashed #999;}
.spread-bx .type{padding:10px 0; overflow: hidden; margin: 0 10px;}
.spread-bx .title{width:80px; color: #999;}
.spread-bx .contents{width:420px;}
.padding-important{padding-right:0 !important;}
.display-none{display:none !important;}
.mag230{margin-left: 230px !important;}
.main-box{ overflow: hidden; position: relative; }/*background: url("../images/index/bj.png") repeat-x;*/
.index-classify .spread-bx{margin: 0 !important; box-shadow: none; padding: 0;}
.material-right .top1{background: #f1f1f1;padding:30px 0 27px 0; width: 246px !important;}
.nav-bg-jc{width:32px; height:50px; background: url("../images/public/jicai.png") no-repeat center;}
.pos-top{top:-1px;}
.pos-bottom{bottom:-1px;}

/*网站右侧挂栏*/
.f-location{ width: 100px; position: fixed; left: 50%; top: 300px; margin-left: 552px; text-align: center; z-index: 9;}
.f-location ul{ overflow: hidden;}
.f-location li a{ color: #fff; display: block; font-size: 14px;}
.f-location .active{ background-color: #e28307;}
.f-location li a:hover{ text-decoration: none; background-color: #e28307;}
.f-location li{ height: 34px; line-height: 34px; width: 100%; float: left; overflow: hidden; background-color: #e33c36; margin-bottom: 1px;}
.qq{ height: 50px; display: block; line-height: 50px; overflow: hidden; clear: both; background: url(../images/index/qq.png) no-repeat 10px center #e33c36; padding-left: 25px; color: #fff; font-size: 14px; *margin-top: 1px;}
.qq:hover{ color: #fff; text-decoration: none;}
.back-top{ height:37px; line-height: 56px; position: relative; margin-top: 1px;color: #fff; font-size: 14px;  background: url(../images/index/fh-top.png) no-repeat center 10px #e33c36; cursor: pointer; display: none;}
.back-top-bottom{ width: 0; height: 0; overflow: hidden; border-top: 25px solid #e33c36; border-left: 50px solid transparent; border-right: 50px solid transparent; position: absolute; left: 0; bottom: -25px;}
.f-code{height:100px; width:100px; background: url("../images/public/Code.jpg") no-repeat center; background-size: 100px 100px; margin-bottom: 1px;  }
.f-code0{height:100px; width:100px; background: url("../images/public/servers.jpg") no-repeat center; background-size: 100px 100px; margin-bottom: 1px;  }

/*404*/
.class-404{background-color: #FAE7D8; height: 100%;}

/*改版颜色匹配*/
a:hover{ color: #ce2613;}
.maxi-nav a:hover{color: #fff;}
.mini-nav a:hover{color: #fff;}
.bgGreen{ background-color: #e33c36;}
.dressing{background-color:#e33c36 !important;}
.dressing-color{color:#e33c36 !important;}
.search-type .hover{background-color: #e33c36; color: #FFFFFF;}
.search-box{ overflow: hidden;  width: 442px; height: 38px; border: 3px solid #e33c36; background-color: #fff; border-radius:2px; position: absolute; left: 0; bottom: 0;}
.search-btn{ height: 32px; width: 56px; display: block;background: url(../images/public/search.gif) no-repeat center #e33c36;}
.nav-box{ height: 50px; background-color: #e33c36; text-align: center;}
.nav a:hover{ background-color: #ce2613; text-decoration: none; color: #fff;}
.nav a.hover{ background-color: #ce2613; text-decoration: none;}
.plate-top{ height: 32px; line-height: 22px; font-size: 18px; border-bottom: 3px solid #e33c36; text-indent: 8px;}
.quick-nav a:hover{ color: #ce2613;}
.pagination a:hover{ color: #fff; background-color: #e33c36;}
.pagination .hover{color: #fff; background-color: #e33c36;}
.navigation-box{  overflow: hidden; padding: 30px 0;} /*background-color: #ECECEC;*/
.copyright-box{ padding: 20px 0; color: #999;font-size: 14px;text-align: center; line-height: 30px; border-top: 1px solid #999;}/*background-color: #4A9696;*/
.copyright-box  a{ color: #999; margin: 0 12px;}
.copyright-box  a:hover{color: #ce2613;}
.copyright-box .wj img{ vertical-align: -5px;}
.nav-classify-title{ display: block; padding-left:40px; width: 220px; font-size: 16px; color: #fff; font-weight:bold;
    background:url("../images/index/classify-logo.png") no-repeat 15px 18px #ce2613;  margin-right: 10px; text-align: left;}
.column-name .name-cn{ font-size: 24px; color: #e33c36; font-weight:bold;}
.column-name{ padding: 0 20px; height: 41px; border-left: 2px solid #e33c36; margin-top: 20px; margin-left: 25px; position: absolute; left: 175px; bottom: 0;}
.w250{width:250px !important;}
.dnone{display: none;}
.disno{display: none !important;}
.disNo{display: none !important;}
.sdTitle{ height: 50px; line-height: 50px; background-color: #e33c36;font-size: 18px;  color: #fff; overflow: hidden;}
.ln-main li a{ display: block; font-size: 14px; border-left: 5px solid transparent; text-indent: 35px;}
.ln-main li a:hover{border-left: 5px solid #e33c36; background-color: #f2f2f2; color: #333;}
.ln-main li a.hvoer{border-left: 5px solid #e33c36; background-color: #E5E5E5; color: #333;}
.ln-top{ height: 45px; line-height: 45px; background-color: #e33c36; text-align: center;}


