<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>form 指令</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.css"/>
    <script src="../../framework/angular-1.5.6/angular.js"></script>
    <script src="form1.js"></script>
    <style>
        div[contenteditable]{
            background-color: #f3f3f3;
            border: 1px solid #3e8f3e;
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body ng-app="formModule">
    <div style="margin-bottom: 50px;">
        <form name="forMod" ng-submit="save()" ng-controller="form1">
            <input type="text" name="name" class="form-control" ng-model="user.name" required/>
            <input type="password" name="password" class="form-control" ng-model="user.password" required/>
            <input type="submit" class="btn btn-warning" ng-disabled="forMod.$invalid"/>
        </form>
    </div>

    <!--定制文本输入框-->
    <div style="margin-bottom: 50px;">
        <div ng-controller="form2">
            <div contenteditable="true" ng-model="content" title="zi zhi input">custom form</div>
            <pre>custom form console log = {{content}}</pre>
        </div>
    </div>

    <!--表单的验证-->
    <div style="background-color: #f3f3f3; padding: 15px;">
        <div class="container" ng-controller="form3">
            <form name="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Name:</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="user.name" name="uName" placeholder="请输入用户名" autocomplete="off" required />
                    </div>
                    <div class="col-md-3 text-danger" ng-show="form.uName.$dirty && form.uName.$invalid">
                        <span ng-show="form.uName.$error.required">这是必填项</span>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Email:</label>
                    <div class="col-md-6">
                        <input type="email" class="form-control" ng-model="user.email" name="uEmail" placeholder="建议使用163邮箱" autocomplete="off" required />
                    </div>
                    <div class="col-md-3 text-danger" ng-show="form.uEmail.$dirty && form.uEmail.$invalid">
                        <span ng-show="form.uEmail.$error.required">这是必填项</span>
                        <span ng-show="form.uEmail.$error.email">邮箱格式有问题</span>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Gender:</label>
                    <div class="col-md-9">
                        <div class="row" style="padding-top: 7px;">
                            <label class="col-md-2"><input type="radio" ng-model="user.gender" value="male" required/> 男 </label>
                            <label class="col-md-2"><input type="radio" ng-model="user.gender" value="female" /> 女 </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-3">
                        <select class="form-control">
                            <option value="cq">省</option>
                            <option value="cq">重庆</option>
                            <option value="cd">成都</option>
                            <option value="wz">万州</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option value="cq">市</option>
                            <option value="cq">重庆</option>
                            <option value="cd">成都</option>
                            <option value="wz">万州</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option value="cq">区</option>
                            <option value="cq">重庆</option>
                            <option value="cd">成都</option>
                            <option value="wz">万州</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-2">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="user.agree" name="userAgree"  /> agree </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input ng-show="user.agree" type="text" class="form-control" ng-model="user.agreeSign"  />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-2">
                        <input type="submit" class="btn btn-warning btn-sm" ng-click="update(user)" ng-disabled="form.$invalid || isUnchanged(user)" value=" 提 交 "/>
                    </div>
                    <div class="col-md-3">
                        <input type="reset" class="btn btn-info btn-sm" ng-click="reset()" ng-disabled="isUnchanged(user)" value=" 返回上次提交前所填内容 "/>
                    </div>
                </div>
            </form>
        </div>
    </div>


</body>
</html>