<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <title></title>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">{{name}} {{lastname}}</div>
        <div ng-controller="data">
            <input type="text" ng-model="text"/>输入的值为：{{text}} {{lastname | uppercase}}
            <p ng-repeat="x in names | orderBy:'height'">
               姓名：{{x.name}}  身高：{{x.height}}
            </p>
            <input type="text" ng-model="fname"/>
            <input type="text" ng-model="lname"/>
            <div>{{and()}}</div>
            <h1>{{theTime}}</h1>
            <h2>255的16进制为{{hex}}</h2>
            <select ng-model="selectedName" ng-options="g for g in nname"></select>
            <select name="" id="e">
                <option value="" ng-repeat="ss in nname">{{ss}}</option>
            </select>
            <select name="" id="s" ng-model="selectbar">
                <option value="{{y.name}}" ng-repeat="y in nav">{{y.name}}</option>
            </select>
            <p>选择的是：{{selectbar}}</p>
            <select name="" ng-model="selectedName" ng-options="g.name for g in tim"></select>
            <p>选择的是：{{selectedName.name}}</p>
            <p>选择的是url：{{selectedName.url}}</p>
        </div>

        <div ng-controller="url">{{urls}}</div>

        <div ng-controller="customersCtrl">
            <ul>
                <li ng-repeat="x in names">
                    {{ x.Name + ', ' + x.Country }}
                </li>
            </ul>
            <table border="1">
                <tr ng-repeat="xi in tims | orderBy: 'City'">
                    <td ng-if="$odd" style="background-color: #f3f3f3;">{{xi.Name}}</td>
                    <td ng-if="$even" >{{xi.Name}}</td>
                    <td ng-if="$odd" style="background-color: #f3f3f3">{{xi.City}}</td>
                    <td ng-if="$even" >{{xi.City}}</td>
                </tr>
            </table>

            <button ng-click="num=num+1">点我加1</button>
            <div>{{num}}</div>

            <button ng-click="btn()">点击隐藏</button>
            <div ng-hide="bor">
                <div><input type="text" ng-model="name"/></div>
                <div><input type="text" ng-model="time" /></div>
                <div>{{name +' 和 '+ time}}</div>
            </div>

            <form novalidate>
                <input type="text" ng-model="user.firsname"/>
                <input type="text" ng-model="user.lastname"/>
                <button ng-click="reset()">reset</button>
                <div>user为:{{user}}</div>
                <div>master为:{{master}}</div>
            </form>

        </div>
        <div ng-show="true">我是可见的</div>
        <div ng-show="false">我是不可见的</div>

        <form name="myForm" ng-controller="forms" novalidate>
            <p>用户名：<br/>
                <input type="text" name="text" ng-model="text" required/>
                <span ng-show="myForm.text.$dirty && myForm.text.$invalid">
                    <span ng-show="myForm.text.$error.required">必填项</span>
                </span>
            </p>
            <p>邮箱：<br/>
                <input type="email" name="email" ng-model="email" required/>
                <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">必填项</span>
                    <span ng-show="myForm.email.$error.email">邮箱格式不合法</span>
                </span>
            </p>
            <input type="submit" ng-disabled="myForm.email.$dirty && myForm.email.$invalid || myForm.text.$dirty && myForm.text.$invalid"/>

        </form>
        <div>hello word!!</div>
        <div>object</div>
        <div>hello word!!</div>
    </div>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.name='huhuaijin';
        });
        app.service('ABC',function(){
           this.myFunc = function(x){
               return x.toString(16);
           }
        });
        app.controller('data',function($scope,$rootScope,$interval,ABC){
            $scope.text = '请输入';
            $scope.names=[
                {name:'huhuaijin', height:'170'},
                {name:'陈晚', height:'152'},
                {name:'张三', height:'198'},
                {name:'小平', height:'165'}
            ];
            $rootScope.lastname='liyu';
            $scope.fname='hu';
            $scope.lname='huaijin';
            $scope.and=function(){
                return $scope.fname + ' ' + $scope.lname;
            };
            $scope.theTime = new Date().toLocaleTimeString();
            $interval(function(){
                $scope.theTime = new Date().toLocaleTimeString();
            },1000);
            $scope.hex = ABC.myFunc(255);
            $scope.nname=['google','taobao','jindong'];
            $scope.nav=[{name:'google',url:'www.google.com'},{name:'baidu',url:'www.baidu.com'}];
            $scope.tim=[{name:'google',url:'www.google.com'},{name:'baidu',url:'www.baidu.com'}];
        });
        app.controller('url',function($scope,$location){
            $scope.urls = $location.absUrl();
        });
        app.controller('customersCtrl', function($scope, $http) {
            $http.get("package.json").success(function (response) {$scope.names = response.records;});
            $http.get("package.json").success(function(response){$scope.tims = response.records; });
            $scope.num=0;
            $scope.name="huhuaijin";
            $scope.time="600";
            $scope.bor = false;
            $scope.btn=function(){
                $scope.bor = !$scope.bor;
            };
            $scope.master={firsname:"hu",lastname:"jin"};
            $scope.reset = function(){
                $scope.user=angular.copy($scope.master);
            };
            $scope.reset();



        });
        app.controller('forms',function($scope){
            $scope.text='huhuaijin';
            $scope.email='11592790@qq.com';
        })
    </script>
</body>
</html>
